- name: install postfix and configure - simple
  hosts: mail
  become: true
  vars:
    version: postfix-3.5.8-2.el8.x86_64
    domain: "{{ lookup('env','DOMAIN') }}"
    tpath: "/home/centos/provision-postfix-venv/templates"

  tasks:
    - name: install postfix
      yum:
        name: "{{ version }}"
        state: present

    - name: open smtp
      firewalld: 
        zone: public
        service: smtp
        permanent: yes
        immediate: yes
        state: enabled

    - name: create main.cf
      template: 
        src: "{{ tpath }}/main.cf.j2"
        dest: "/etc/postfix/main.cf"
      notify: "reload postfix"

    - name: start and enable postfix
      systemd: 
        name: postfix
        state: started
        enabled: yes

  handlers:
    - name: postfix reload
      systemd:
        name: postfix
        state: reloaded
      listen: "reload postfix"
